<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery"
                                    , "~/bundles/bootstrap/js"
                                    , "~/bundles/utils"
                                    , "~/bundles/jqgrid/js"
                                    , "~/bundles/tree/js")

    @Styles.Render("~/bundles/bootstrap/css"
                                    , "~/bundles/jqgrid/css"
                                    , "~/bundles/tree/css")

    <!--表单验证-->
    <script src="~/Content/scripts/plugins/validator/validator.js"></script>

    <!--日期组件-->
    <link href="~/Content/scripts/plugins/datetime/pikaday.css" rel="stylesheet" />
    <script src="~/Content/scripts/plugins/datepicker/WdatePicker.js"></script>
    <script src="~/Content/scripts/plugins/datetime/pikaday.js"></script>

    <!--导向组件-->
    <link href="~/Content/scripts/plugins/wizard/wizard.css" rel="stylesheet" />
    <script src="~/Content/scripts/plugins/wizard/wizard.js"></script>
    
    <link href="~/Content/styles/berry-report.css" rel="stylesheet" />
</head>
<body>
    <form id="form1">
        @RenderBody()
        @Html.AntiForgeryToken()
    </form>
</body>
</html>
